/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-australiapilgrims-three-column-item {
	padding: 4px 16px;
	margin-top: 0;
	margin-bottom: 0;
}
